<div class="confirm-grid" id="confirm">
    <div class="row justify-content-center confirm-row">
        <div class="confirm-header">
            Darts Thrown?
        </div>
    </div>
    <div class="row justify-content-center confirm-row">
        <div class=confirm-item>
            <div class="confirm-text" data-value="1" onclick="confirmNumberClicked(this)">
                1
            </div>
        </div>

    </div>
    <div class="row justify-content-center confirm-row">
            <div class=confirm-item>
                    <div class="confirm-text" data-value="2" onclick="confirmNumberClicked(this)">
                        2
                    </div>
                </div>
    </div>
    <div class="row justify-content-center confirm-row">
            <div class=confirm-item>
                    <div class="confirm-text" data-value="3" onclick="confirmNumberClicked(this)">
                        3
                    </div>
                </div>
    </div>
    <div class="row justify-content-center confirm-row" >
            <div class=confirm-cancel>
                    <div class="confirm-text" onclick="undoCheckout()">
                        Cancel Finish
                    </div>
                </div>
    </div>

</div>