<div class="confirm-grid" id="doubles">
        <div class="row justify-content-center confirm-row">
            <div class="confirm-header">
                Missed Doubles?
            </div>
        </div>
        <div class="row justify-content-center confirm-row">
            <div class=confirm-item>
                <div class="confirm-text"  onclick="missedDoublesClicked(this)">
                   0
                </div>
            </div>
    
        </div>
        <div class="row justify-content-center confirm-row">
                <div class=confirm-item>
                        <div class="confirm-text"  onclick="missedDoublesClicked(this)">
                            1
                        </div>
                    </div>
        </div>
        <div class="row justify-content-center confirm-row">
                <div class=confirm-item>
                        <div class="confirm-text"  onclick="missedDoublesClicked(this)">
                            2
                        </div>
                    </div>
        </div>
        <div class="row justify-content-center confirm-row" >
                <div class=confirm-item>
                        <div class="confirm-text"  onclick="missedDoublesClicked(this)">
                            3
                        </div>
                    </div>
        </div>
    
    </div>