<div class="container">

    <div id="new-game-grid">
        <div class="row justify-content-center add-player-input new-game-header">
            <div>New Match</div>
        </div>
        <div class="row justify-content-center label-div">
            <label class="player-label">
                Player 1
            </label>
        </div>
        <div class="row justify-content-center add-player-input">
            <select class="add-player-name">
                <option value="Ken Oliver">Ken Oliver</option>
                <option value="Joe Smith">Joe Smith</option>
            </select>
        </div>
        <div class="row justify-content-center">
            <label class="switch">
                <input type="radio" name="first">
                <span class="slider round"></span>
            </label> <label style="font-size:.5em;padding-left:5px">First To Throw  </label>
        </div>
        <div class="row justify-content-center label-div">
            <label class="player-label">
                Player 2
            </label>
        </div>
        <div class="row justify-content-center add-player-input">
            <select class="add-player-name">

                <option value="Ken Oliver">Ken Oliver</option>
                <option value="Joe Smith">Joe Smith</option>

            </select>
        </div>

        <div class="row justify-content-center">
           
            <label class="switch">
                <input type="radio" name="first">
                <span class="slider round"></span>
            </label>
        </label> <label style="font-size:.5em;padding-left:5px">First To Throw  </label>
        </div>
        <div class="row justify-content-center label-div">
            <label class="player-label">
                Type Of Game
            </label>
        </div>
        <div class="row justify-content-center add-player-input">
            <select class="add-player-name">
                <option value="X01">X01</option>
            </select>
        </div>
        <div class="row justify-content-center add-player-input">
            <input class="add-new-game" type="text" value="501">

        </div>
        <div class="row justify-content-center label-div">
            <label class="player-label">
                No. of Legs
            </label>
        </div>
        <div class="row justify-content-center add-player-input">
            <select class="add-player-name">
                <option value="Best Of">Best Of</option>
            </select>
        </div>
        <div class="row justify-content-center add-player-input">
            <input class="add-new-game" type="text" value="11">

        </div>

        <div class="row justify-content-center label-div">
            <label class="player-label">
                Game Title
            </label>
        </div>
      
        <div class="row justify-content-center add-player-input">
            <input class="add-new-game" type="text" value="League Play">

        </div>
        <div class="row justify-content-center add-player-input">
               

            </div>
        <div class="row justify-content-center add-player-input">
               

            </div>

        
            <div class="row justify-content-center add-player-input">
                    <button class="new-game-middle" type="button">Start New Match</button>

            </div>


    </div>
</div>