<script>
        function openNav() {
                document.getElementById("mySidenav").style.height = "300px";
                document.getElementById("mainPage").style.opacity = "0.2";
        }

        function closeNav() {
                document.getElementById("mySidenav").style.height = "0";
                document.getElementById("mainPage").style.opacity = "1.0";
        }

        
</script>
<div id="mySidenav" class="side-nav">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <% if (pageID =="scorer"){ %>
                <a href="/new-game">New Match</a>
                <a href="/stats">View Statistics</a>
                <a href="#">End Game</a>
                <a href="javascript:void(0)" onclick="toggleFullScreen()">Full Screen</a> 



        <% }else{ %>
        <a href="/new-game">New Match</a>
        <a href="/scorer">Continue Match</a>
        <a href="/new-game">New Match</a>
        <a href="#">End Game</a>
        <a href="javascript:void(0)" onclick="toggleFullScreen()">Full Screen</a>
        <% }  %>       
</div>