

<div id="mySidenav" class="container sidenav">
       
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <hr>

        <a href="/new-game" >New Match</a>
        <a href="#">Add Player</a>
        <a href="#">View Players</a>
        <a href="/stats">View Statistics</a>
        <a href="javascript:void(0)" onclick="toggleFullScreen()">Full Screen</a>
        
</div>