<div class="row justify-content-center confirm-row stats-player-1">
    <div class="stats-player ">
        <div class="stats-text" id="name-player-1">
            PLAYER 1
        </div>
    </div>
</div>

<div class="row justify-content-center confirm-row">
    <div class="stats-score">
        <div class="stats-text" id="stats-final-score">
            8-3
        </div>
    </div>
</div>

<div class="row justify-content-center confirm-row stats-player-2">
    <div class="stats-player ">
        <div class="stats-text" id="name-player-2" ">
            PLAYER 2
        </div>
    </div>
</div>

<div class="app-grid-row stats-grid-info">

        <div class="grid-text">FINAL SCORE</div>

    </div>

<script>
    // var match = JSON.parse(sessionStorage.match)

    function getHeaderInfo() {
        var player1 = 0
        var player2 = 0
        match.scores.forEach(function (score) {
            if (score.finished) {
                if (score.player == match.players[0].playername) {
                    player1++

                } else {
                    player2++
                }
            }
        })
        document.getElementById("stats-final-score").innerHTML = player1 + " - " + player2;
        match.players.forEach(function (player) {
            document.getElementById("name-" + player.id).innerHTML = player.playername
            
        })
    }


    getHeaderInfo();
</script>