<html>

<% include partials/head.ejs %>

    <body>
            <script>
                    var match = JSON.parse(sessionStorage.match);  
                 </script>
        <% include partials/side-menu.ejs %>
        <div class="container">

            <div id="stats-grid">
                <div onclick="openNav()" id='menu-label'>
                    <i class="fa fa-bars" aria-hidden="true"></i> IDL Scoreboard</div>
                    <% include partials/stat-header.ejs %>

               
               
            </div>

        </div>


        <script>
           

            
            



            function addRow(leg){
                var statsgrid = document.getElementById("stats-grid");

                var div1 = document.createElement("div");
                div1.classList.add("row", "justify-content-center", "confirm-row", "stats-stat-item");
                div1.innerHTML =
                 `
                        <div class=stats-item>
                            <div class="stats-text" id="leg-${leg}-player-1">
                               
                            </div>
                        </div>
                 `;
                 statsgrid.appendChild(div1);
                var div2 = document.createElement("div")  ;     
                div2.classList.add("row", "justify-content-center", "confirm-row", "stats-stat-title");
                div2.innerHTML =
                 `
                        <div class=stats-item-center>
                            <div class="stats-text">
                                    <a class="leg-router" href="view-leg/${leg}">LEG-${leg}</a>
                            </div>
                        </div>
                        `   ;  
                statsgrid.appendChild(div2);         
                var div3 = document.createElement("div")   ;    
                div3.classList.add("row", "justify-content-center", "confirm-row", "stats-stat-item");
                div3.innerHTML =
                 `
                        <div class=stats-item>
                            <div class="stats-text" id="leg-${leg}-player-2">
                               
                            </div>
                        </div>
                        `  ;  
                statsgrid.appendChild(div3);            
            }


            function getAllCheckouts(){
                match.scores.forEach(function(score){
                    if (score.finished){
                        var playerid
                        var totalDarts = score.visit * 3 - 3 + score.dartsthrown
                        match.players.forEach(function(player){
                            document.getElementById("name-" + player.id).innerHTML = player.playername
                            if (score.player == player.playername){
                                playerid=player.id
                            }
                        })
                        addRow(score.leg);
                        document.getElementById("leg-" + score.leg + "-" + playerid).innerHTML = score.score;
                    }

                })
            }

            

         
            var player1
            var player2
            getAllCheckouts();
           
          
          

        </script>

    </body>

</html>