<html>

<% include partials/head.ejs %>

    <body>
        
          

        <div class="container">

            <div id="main-menu-grid">
                <div class="row justify-content-center">
                    <img class="main-menu-logo" src="/public/resources/logos/IDL_Logo_and_Text_White.png" />
                </div>

                <div class="row justify-content-center main-menu-row">

                    <div class="main-menu-header">Darts Scoreboard</div>
                </div>


                <div class="row justify-content-center main-menu-row">
                    <div class="main-menu-item">
                            <div class="main-menu-text"><a href="/new-game">New Match</a></div>
                       
                    </div>
                </div>
                <div class="row justify-content-center main-menu-row">
                    <div class="main-menu-item">
                        <div class="main-menu-text">Add Player</div>
                    </div>
                </div>
                <div class="row justify-content-center main-menu-row">
                    <div class="main-menu-item">
                        <div class="main-menu-text">View Players</div>
                    </div>
                </div>

                <div class="row justify-content-center main-menu-row">
                    <div class="main-menu-item">
                        <div class="main-menu-text"><a href="/matches">View Matches</a></div>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>