<html>

<% include partials/head.ejs %>

    <body>

        <% include partials/side-menu.ejs %>
        <div class="container">

            <div id="stats-grid">
                <div onclick="openNav()" id='menu-label'>
                    <i class="fa fa-bars" aria-hidden="true"></i> IDL Scoreboard</div>
                <div class="row justify-content-center confirm-row stats-player-1">
                    <div class="stats-player ">
                        <div class="stats-text" id="name-player-1"  >
                            PLAYER 1
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center confirm-row">
                    <div class="stats-score">
                        <div class="stats-text" id="stats-final-score">
                            8-3
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center confirm-row stats-player-2">
                    <div class="stats-player ">
                        <div class="stats-text" id="name-player-2" onclick="confirmNumberClicked(this)">
                            PLAYER 2
                        </div>
                    </div>
                </div>

                <div class="app-grid-row stats-grid-info">

                    <div class="grid-text">FINAL SCORE</div>

                </div>
                <% pageFields.forEach(function(item){  %>





                    <div class="row justify-content-center confirm-row stats-stat-item">
                        <div class=stats-item>
                            <div class="stats-text" id="<%= item.id %>-player-1">
                                56.2
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center confirm-row stats-stat-title">
                        <div class=stats-item-center>
                            <div class="stats-text">
                                <%= item.title %>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center confirm-row stats-stat-item">
                        <div class=stats-item>
                            <div class="stats-text" id="<%= item.id %>-player-2">
                                54.1
                            </div>
                        </div>

                    </div>
                    <% }) %>
            </div>

        </div>


        <script>
            function GetStats(player) {
                var obj = {
                    avg: 0,
                    avg9: 0,
                    doubles: 0,
                    sixty: 0,
                    tonne: 0,
                    tonne40: 0,
                    tonne80: 0,
                    checkouts: [],
                    bestlegs :[],
                    misseddoubles : 0
                }
                var totalscore = 0
                var totalscoreFirstNine = 0
                var totalDarts = 0
                var totalDartsFirstNine = 0
                var misseddoubles = 0
                var totalFinishes = 0
                var checkouts = []
                var bestlegs = []

                var legs = [];
                match.scores.forEach(function (score) {
                    if (legs.indexOf(score.leg) === -1) {
                        legs.push(score.leg);
                    }
                });

                match.scores.forEach(function (score) {
                    if (score.player == player.playername) {
                        var scored = parseFloat(score.score);
                        totalscore += scored;
                        totalscoreFirstNine += (score.visit < 4) ? scored : 0;
                        totalDarts += parseFloat(score.dartsthrown);
                        totalDartsFirstNine += (score.visit < 4) ? 3 : 0;
                        misseddoubles += score.misseddoubles;
                        obj.sixty = (scored > 59 && scored < 100) ? obj.sixty + 1 : obj.sixty
                        obj.tonne = (scored > 99 && scored < 140) ? obj.tonne + 1 : obj.tonne
                        obj.tonne40 = (scored > 139 && scored < 180) ? obj.tonne40 + 1 : obj.tonne40
                        obj.tonne80 = (scored == 180) ? obj.tonne80 + 1 : obj.tonne80
                        if (score.finished) {
                            totalFinishes += 1
                            checkouts.push(scored)
                            bestlegs.push((score.visit * 3) - 3 + score.dartsthrown)
                        }
                    }

                })
                console.log("totalFinishes: " + totalFinishes)
                console.log("misseddoubles: " + misseddoubles)
                obj.avg = totalDarts == 0 ? 0 : totalscore / totalDarts * 3
                obj.avg9 = totalDartsFirstNine == 0 ? 0 : totalscoreFirstNine / totalDartsFirstNine * 3
                obj.misseddoubles = misseddoubles
                obj.doubles = (misseddoubles +totalFinishes == 0) ? 0 : totalFinishes / (misseddoubles +totalFinishes) * 100
                obj.checkouts = checkouts.sort(function (a, b) {
                    return b - a
                });
                obj.bestlegs =bestlegs.sort(function (a, b) {
                    return a - b
                });
              
                return obj
            }

            var match = JSON.parse(sessionStorage.match)
            var legs = []
            
            match.players.forEach(function (player) {
                var stats = GetStats(player)
                document.getElementById("avg-" + player.id).innerHTML = stats.avg.toFixed(2);
                document.getElementById("avg9-" + player.id).innerHTML = stats.avg9.toFixed(2);
                function getDoubles(){
                    return stats.checkouts.length + "/" + (stats.misseddoubles + stats.checkouts.length) + " (" + stats.doubles.toFixed(0) + "% )"
                }
                document.getElementById("doubles-" + player.id).innerHTML = getDoubles();
                document.getElementById("sixty-" + player.id).innerHTML = stats.sixty;
                document.getElementById("tonne-" + player.id).innerHTML = stats.tonne;
                document.getElementById("tonne40-" + player.id).innerHTML = stats.tonne40;
                document.getElementById("tonne80-" + player.id).innerHTML = stats.tonne80;
                document.getElementById("checkout-" + player.id).innerHTML = stats.checkouts.length == 0 ? 0: stats.checkouts[0];
                document.getElementById("bestleg-" + player.id).innerHTML = stats.bestlegs.length == 0 ? 0 : stats.bestlegs[0];
                document.getElementById("worstleg-" + player.id).innerHTML = stats.bestlegs.length == 0 ? 0 : stats.bestlegs[stats.bestlegs.length-1];
                function avg(){

                    var sum = (stats.bestlegs.length ==0) ? 0 : stats.bestlegs.reduce(function(a, b) { return a + b; });
                    var legs = stats.bestlegs.length;
                    var avg = (stats.bestlegs.length ==0) ? 0 : sum/legs;
                    return avg.toFixed(2)
                };
                document.getElementById("avgleg-" + player.id).innerHTML = avg();
                document.getElementById("name-" + player.id).innerHTML = player.playername
                legs.push(stats.checkouts.length)
            });
            document.getElementById("stats-final-score").innerHTML = legs[0] + " - " + legs[1]
        </script>

    </body>

</html>