<html>

<% include partials/head.ejs %>

    <body>
        <script>
            var match = JSON.parse(sessionStorage.match);
            var leg = '<%- pageLeg %>'
        </script>
        <% include partials/side-menu.ejs %>
            <div class="container">

                <div id="view-leg-grid">
                    <div onclick="openNav()" id='menu-label'>
                        <i class="fa fa-bars" aria-hidden="true"></i> IDL Scoreboard</div>
                    <% include partials/stat-header.ejs %>
                        <div class="page-scroll row justify-content-center" style="width:100%">
                            <ul id="pages" class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>


                            </ul>



                        </div>
                        <div id="details-grid" class="app-grid-row view-leg-details">



                        </div>

                </div>


            </div>


            <script>
                function getNumberOfLegs() {
                    var legs = 0
                    match.scores.forEach(function (score) {
                        console.log(score.leg)
                        if (score.leg > legs) {
                            legs = score.leg
                        }
                    })
                    return legs
                }

                function addNewRow(visit) {
                    var parentDiv = document.getElementById("details-grid");
                    var mainDiv = document.createElement("div");
                    mainDiv.classList.add("details-grid-row-view-leg");
                    mainDiv.setAttribute("name", "visit-" + visit);
                    var numberOfDarts = visit * 3

                    var html =
                        `
                                
                                                        <div class="details-remaining-item player-1 visit-${visit}" name="player-1">
                                                                <div class="grid-text">
                                                                       
                                                                </div>
                                                        </div>
                                                        <div class="details-score-item player-1 visit-${visit}">

                                                                <div class="grid-text">
                                                                        <input class="details-score-input inactive" onkeyup = "keyPressed(event)" type="text" name="player-1"  disabled />
                                                                </div>

                                                        </div>
                                                        <div class="details-darts-number visit-${visit} ">
                                                                <div class="grid-text">${numberOfDarts}</div>
                                                        </div>
                                                        <div class="details-score-item player-2 visit-${visit}">
                                                                <div class="grid-text">
                                                                        <input class="details-score-input inactive" onkeyup = "keyPressed(event)" type="text" name="player-2"  disabled />
                                                                </div>
                                                        </div>
                                                        <div class="details-remaining-item player-2 visit-${visit}">
                                                                <div class="grid-text"></div>
                                                        </div>
                            `

                    mainDiv.innerHTML = html;
                    parentDiv.appendChild(mainDiv)

                }

                function manageRows(visit) {
                    var str = ".details-grid-row-view-leg[name=\"visit-" + visit + "\"]"
                    console.log(str)
                    if (document.querySelector(str) == null) {
                        addNewRow(visit)
                    }
                }

                function getCurrentState(leg) {

                    document.getElementById("details-grid").innerHTML = "";
                    match.players.forEach(function (player) {

                        var totalScore = 0
                        var lastTotal = 0
                        var startCount = match.startCount
                        var remaining = startCount

                        match.scores.forEach(function (score) {

                            if (score.player == player.playername && score.leg == leg) {
                                lastTotal = startCount - totalScore;
                                totalScore += parseFloat(score.score);
                                remaining = startCount - totalScore;
                                manageRows(score.visit)

                                var divRemaining = getDetailItemDiv(player.id, score.visit, "remaining")
                                divRemaining.innerHTML = remaining;

                                var divScore = getDetailItemDiv(player.id, score.visit, "score")
                                divScore.innerHTML = score.score;
                            }
                        })

                    });

                }

                function getDetailItemDiv(playerid, visit, itemname) {
                    var div = document.querySelector(
                        ".details-" + itemname + "-item." +
                        playerid + ".visit-" +
                        visit);
                    var childdiv = div.querySelector("div");
                    return childdiv

                }

                function addPages() {
                    var legs = getNumberOfLegs()
                    var parent = document.getElementById("pages")
                    parent.innerHTML = "";
                    for (i = 0; i < legs; i++) {

                        var li = document.createElement("li")
                        li.classList.add("page-item")
                        if (parseInt(i) + 1 == leg) {
                            li.classList.add("active")
                            console.log("active " + i + 1)
                        }


                        li.innerHTML =
                            `
                            <a class="page-link" href="/view-leg/${i+1}">${i+1}</a>
                        `;





                        parent.appendChild(li)
                    }
                }




                var player1
                var player2
                var objDiv = document.getElementById("details-grid");
                objDiv.innerHTML = "";
                addPages();
                getCurrentState(leg)

                objDiv.scrollTop = objDiv.scrollHeight;
            </script>

    </body>

</html>